<div class="col-md-3">
    <div class="content-section">
        <p class='text-muted'>
            <ul class="list-group">
                <li class="list-group-item list-group-item-dark">Recently Added</li>
                {% for obj in last_products %}
                <li class="list-group-item list-group-item-dark">
                    <a href="#">
                        <a href="{% url 'shop:product_detail' obj.product.slug %}"><img class="square article-img" src="{{ obj.image.url }}" alt="{{ obj.product.name }}"></a>
                        <a href="{% url 'shop:product_detail' obj.product.slug %}">{{ obj.product.name }}</a>
                        ${{ obj.product.price }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </p>
    </div>
</div>