{% extends 'base.html' %}

{% block title %}{{ episode.title }}{% endblock title %}


{% block content %}
<div class="container">
   {% if episode.image %}
    <img class="square article-img" src="{{ episode.image.url }}">
  {% else %}
    <img class="square article-img" src="{{ episode.podcast.image.url }}">
  {% endif %}
    <a class="podcast-title" href="{{ episode.get_absolute_url }}">{{ episode.title }}</a><br>
    <div>
        <p class="category"> Category: {{ object.category.name }}</p>
        <p class="article-content">{{ episode.description|safe }}</p> 
    </div>
    <hr>
    <!-- Similar episodes: -->
</div>
{% endblock %}