{% extends 'base.html' %}

{% block title %}{{ object.title }}{% endblock title %}


{% block content %}
<div class="container">
    <a class="podcast-title" href="{{ podcast.get_absolute_url }}">{{ object.title }}</a><br>
    <p><img class="podcast-image" src="{{ object.image.url }}" alt="{{ object.image.url }}"></p>
    <div>
        <p class="author">Author: {{ object.author }}</p>
        <p class="category"> Category: {{ object.category }}</p>
        <p class="article-content">{{ object.description }}</p> 
    </div>
    <hr>
    <div>
        Episodes:
        {% for episode in object.podcast_episodes.all %}
            <p class="episode-title">{{ episode.title }}</p>
            {% if episode.image %}
                <img class="podcast-image" src="{{ episode.image.url }}" alt="{{ episode.image }}">
            {% else %}
                <img class="podcast-image" src="{{ object.image.url }}" alt="{{ object.image }}">
            {% endif %}
            <p class="episode-description">{{ episode.description }}</p><hr>
        {% endfor %}
    </div>
</div>
{% endblock %}