{% extends 'base.html' %}

{% block title %}Episodes of the podcast{% endblock title %}

{% block content %}
<h1>podcast_episodes.html</h1>

{% for episode in object_list %}
<article class="media content-section">
  <!-- Or episode.podcast.image.url for all episodes? -->
  {% if episode.image %}
    <img class="square article-img" src="{{ episode.image.url }}">
  {% else %}
    <img class="square article-img" src="{{ episode.podcast.image.url }}">
  {% endif %}
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{% url 'blog:podcast_detail' episode.podcast.slug %}">{{ episode.podcast.title }}</a>
      </div>
      <h2><a class="article-title" href="{% url 'blog:episode_detail' podcast_slug=episode.podcast.slug episode_slug=episode.slug %}">{{ episode.title }}</a></h2>
      <small class="text-muted">{{ episode.publish }}</small><br><br>
      <p class="article-content">{{ episode.description|truncatewords:25 }}</p>
    </div>
</article>
    <!-- Similar episodes: -->
{% endfor %}


<!-- Pagination -->
{% if is_paginated %}
    
  {% if page_obj.has_previous %}
    <a class="btn btn-outline-dark mb-4" href="?page=1">First</a>
    <a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
  {% endif %}

  {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
      <a class="btn btn-dark mb-4" href="?page={{ num }}">{{ num }}</a>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
      <a class="btn btn-dark button-black-faded mb-4" href="?page={{ num }}">{{ num }}</a>
    {% endif %}
  {% endfor %}

  {% if page_obj.has_next %}
    <a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
    <a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
  {% endif %}

{% endif %}
{% endblock %}