{% extends 'base.html' %}

{% block title %}List of our podcasts{% endblock title %}

{% block content %}
    {% for podcast in podcasts %}
        <div class="container">
            <a class="podcast-title" href="{{ podcast.get_absolute_url }}">{{ podcast.title }}</a>
            <p><a href="{{ podcast.get_absolute_url }}">
                <img class="podcast-image" src="{{ podcast.image.url }}" alt="{{ podcast.title }}"></a></p>
            <p class="author">Author: {{ podcast.author }}</p>
            <p class="category"> Category: {{ podcast.category }}</p>
            <p class="article-content">{{ podcast.description }}</p><hr>
        </div>
    {% endfor %}
{% endblock %}