body {
    padding-bottom: 20px;
}

hr {
    margin: 1em auto;
    border: none;
    height: 0.07em;

    background: #777;
}

.navbar {
    margin-bottom: 20px;
}

.podcast-image {
    width: 15em;
    height: 15em;
}

.episode-title {
    padding: 10px;
    font-weight: 500;
}

.podcast-title {
    font-weight: 500;
}

.author {
    font-size: x-small;
}

.category {
    font-size: small;
}

.button-black {
    background-color: #212529;
    color: #fff;
}

.button-black-faded {
    background-color: rgba(33, 37, 41, 0.5);
    color: #fff;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}

a.article-title:hover {
    color: #428bca;
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}