{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Password Reset{% endblock title %}

{% block content %}
    <h1>Reset Password</h1><br>
    <div class="container">
        <form action="." method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Reset Password</button>
            </div>
        </form>
        <div class="border-top pt-3">
        </div>
    </div>
{% endblock %}