{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Register{% endblock title %}
<!-- Created 'def register' in users:views.py,
in users:forms.py 'UserRegisterForm' to have field 'email'
in urls.py of the project added path 'register' -->

{% block content %}
    <h1>Register</h1><br>

    <div class="container">
        <form action="." method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already have an account? <a class="ml-2" href="#">Sign In</a>
            </small>
        </div>
    </div>
{% endblock %}